@CHARSET "UTF-8";

html, body {
	margin: 0px;
	padding: 0px;
	background-color: #FFF9EC;
}

#container {
	width: 100%;
	height: 100%;
}

#gfheader {
	width: 100%;
	height: 50px;
	background-color: #FF6757;
}

#header {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

#userName {
	margin: 0 auto;
	width: 100%;
	height: 40px;
	text-align: center;
	font-family: 'Hanna';
	font-size: 30px;
	font-weight: bold;
	padding-top: 5px;
}

#content {
	width: 1000px;
	height: 900px;
	margin: 0 auto;
}

#center-content {
	width: 800px;
	margin: 0 auto;
}