@CHARSET "UTF-8";

html, body {
	margin: 0px;
	padding: 0px;
	background-color: #FFF9EC;
}

#container {
	width: 100%;
	height: 100%;
}

#gfheader {
	width: 100%;
	height: 50px;
	background-color: #FF6757;
}

#header {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

#userName {
	margin: 0 auto;
	width: 100%;
	height: 40px;
	text-align: center;
	font-family: 'Hanna';
	font-size: 30px;
	font-weight: bold;
	padding-top: 5px;
}

#content {
	width: 1000px;
	min-height: 900px;
	margin: 0 auto;
}

#center-content {
	width: 800px;
	margin: 0 auto;
}

.question-div {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 3px solid #2c3e50;
	width: 800px;
	height: 200px;
	background-color: white;
}

.question-question {
	margin: 25px;
	width: 730px;
	height: 105px;
	font-size: 18px;
}

.question-answer {
	float: right;
	margin-right: 20px;
}








.input-form-control1 {
	display: inline;
	width: 216px;
	height: 30px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-form-control1:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}